<div class="main-container">
    <div class="side-nav">
<div class="nav-items">
    <div class="nav-item">
        <a routerLink="/dashboard" >
        <fa-icon [icon]="faCoffee"></fa-icon>
        <span>Dashboard</span>
    </a>
    </div>
    <div class="nav-item">
        <a routerLink="/Users">
        <fa-icon [icon]="faCoffee"></fa-icon>
        <span>user</span>
    </a>
    </div>
    <div class="nav-item">
        <a routerLink="/menuMaster" >
        <fa-icon [icon]="faCoffee"></fa-icon>
        <span>Shop</span>
    </a>
    </div>
    <div class="nav-item">
        <a routerLink="/dashboard" >
        <fa-icon [icon]="faCoffee"></fa-icon>
        <span>Dashboard</span>
    </a>
    </div>
    <div class="nav-item">
        <a routerLink="/menuMaster" >
        <fa-icon [icon]="faCoffee"></fa-icon>
        <span>Setting</span>
    </a>
    </div>
    <div class="nav-item">
        <a routerLink="/menuMaster" >
        <fa-icon [icon]="faCoffee"></fa-icon>
        <span >Menu Management</span>
    </a>
    </div>
</div>
</div>
</div>
