<form>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Registration</h3>
                        <div class="form-group">
                            <label class="form-label">User Name</label>
                            <input type="text" class="form-control form-control-lg" name="name" [(ngModel)]="userName">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control form-control-lg" name="email" [(ngModel)]="email">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="Password" class="form-control form-control-lg" name="password" [(ngModel)]="password">
                        </div>
                        <button class="btn btn-primary btn-block mt-4" (click)="RegisterUser()">Submit</button>
                        <div class="form-group">
                         <a routerLink="/login">
                            <span>Login here</span>
                         </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>